# SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0NjcxNTIsImV4cCI6MjA4MjA0MzE1Mn0.Ini1FWuFb0qvQP8kY501ZrzD0YENnBWkYfSHuFaWmvY
# SUPABASE_JWT_SECRET=IvQOgei6Z5BHAsQl60NQ7cJYfB5FKC26XpKgVy0lXXeuPGa75yWTqI+4N6Jr79IX2A+20RzY94qdSFFtS4DpPQ==
# SUPABASE_PUBLISHABLE_KEY=sb_publishable_dVXGEh9YCPQv9luX-Knpqw_imjrbnsi
# SUPABASE_SECRET_KEY=sb_secret_mVouKwIozLc7FQCQ592RRA__gO5GiQz
# SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjQ2NzE1MiwiZXhwIjoyMDgyMDQzMTUyfQ.nhIBEmTat1HtmLfL5y3RP2xEsZqvcHPAmKm0nL5ewxk
# SUPABASE_URL=https://yzwoowkbldyewmzkndxn.supabase.co
# NEXT_PUBLIC_DEV_SUPABASE_REDIRECT_URL=https://v0.app/chat/api/supabase/redirect/gSWqU1j30Ji
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0NjcxNTIsImV4cCI6MjA4MjA0MzE1Mn0.Ini1FWuFb0qvQP8kY501ZrzD0YENnBWkYfSHuFaWmvY
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_dVXGEh9YCPQv9luX-Knpqw_imjrbnsi
# NEXT_PUBLIC_SUPABASE_URL=https://yzwoowkbldyewmzkndxn.supabase.co


NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0NjcxNTIsImV4cCI6MjA4MjA0MzE1Mn0.Ini1FWuFb0qvQP8kY501ZrzD0YENnBWkYfSHuFaWmvY"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="sb_publishable_dVXGEh9YCPQv9luX-Knpqw_imjrbnsi"
NEXT_PUBLIC_SUPABASE_URL="https://yzwoowkbldyewmzkndxn.supabase.co"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.yzwoowkbldyewmzkndxn.supabase.co"
POSTGRES_PASSWORD="keC6ITOulvRCvu3N"
POSTGRES_PRISMA_URL="postgres://postgres.yzwoowkbldyewmzkndxn:keC6ITOulvRCvu3N@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_URL="postgres://postgres.yzwoowkbldyewmzkndxn:keC6ITOulvRCvu3N@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL_NON_POOLING="postgres://postgres.yzwoowkbldyewmzkndxn:keC6ITOulvRCvu3N@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_USER="postgres"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY0NjcxNTIsImV4cCI6MjA4MjA0MzE1Mn0.Ini1FWuFb0qvQP8kY501ZrzD0YENnBWkYfSHuFaWmvY"
SUPABASE_JWT_SECRET="IvQOgei6Z5BHAsQl60NQ7cJYfB5FKC26XpKgVy0lXXeuPGa75yWTqI+4N6Jr79IX2A+20RzY94qdSFFtS4DpPQ=="
SUPABASE_PUBLISHABLE_KEY="sb_publishable_dVXGEh9YCPQv9luX-Knpqw_imjrbnsi"
SUPABASE_SECRET_KEY="sb_secret_mVouKwIozLc7FQCQ592RRA__gO5GiQz"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjQ2NzE1MiwiZXhwIjoyMDgyMDQzMTUyfQ.nhIBEmTat1HtmLfL5y3RP2xEsZqvcHPAmKm0nL5ewxk"
SUPABASE_URL="https://yzwoowkbldyewmzkndxn.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY="sb_publishable_dVXGEh9YCPQv9luX-Knpqw_imjrbnsi"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inl6d29vd2tibGR5ZXdtemtuZHhuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NjQ2NzE1MiwiZXhwIjoyMDgyMDQzMTUyfQ.nhIBEmTat1HtmLfL5y3RP2xEsZqvcHPAmKm0nL5ewxk"
NEXT_PUBLIC_SITE_URL="https://apm-training-virid.vercel.app/"